<%= simple_form_for @paciente, html: { class: "form-inline" }, 
    wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
    } do |f| %>
    <%= f.error_notification %>
    <div class="row">
      <%= render partial: 'dados_pessoais', layout: 'field_wrapper', locals: { title: 'Dados Pessoais', f: f } %>

      <%= render partial: 'dados_historicos', layout: 'field_wrapper', locals: { title: 'Dados Históricos', f: f } %>
    </div>
    <div class="row">
      <div class="form-actions">
        <%= link_to 'Cancelar', pacientes_path, class: "btn btn-default btn-lg" %>
        <%= f.button :submit, "Salvar Paciente", class: "btn btn-success btn-lg" %>
      </div>
    </div>
<% end %>