<!DOCTYPE html>
<html>
<head>
  <title>Anamnese</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <span class="brand-name">Anamnese</span> -->
        <%= link_to 'Anamnese', root_path, class: 'brand-name' %>
        <%= link_to image_tag('logo_isabela_completa_80.png'), root_path, class: 'navbar-brand' %>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to 'Pacientes',  root_path,  class: ('active' if params[:controller] == 'pacientes') %></li>
          <li><%= link_to 'About', about_path, class: ('active' if params[:controller] == 'home') %></li>
        </ul>
      </div>
    </nav>
  </header>
 
  <div class="container">
    
    <%= flash_messages %>
    
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="jumbotron"> -->
          <%= yield %>
        <!-- </div> -->
      </div>
    </div>
  </div>

</body>
</html>
